.maroon { color: #820004; }
.navy {color: #05004c; }
.indigo {color: #5D76CB;}
.spacing{ letter-spacing: 2px; word-spacing: 5px; line-height: 20px;
}
.uppercase{ text-transform: uppercase;}
.lowercase{ text-transform: lowercase;}
.capitalize{ text-transform: capitalize;}
.paragraf{
    font-family: "Courier New";
    font-size: 20px;
}
ul{
    list-style-type: circle;
}
li{
    font-family: "Tahoma" ;
    font-size: 15px;
}
